@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1a1a1a;
    text-align: center;
    padding: 2rem;
    color: orange;
    position: relative;
}

h1 {
    margin-top: 10%;
    font-size: 4rem;
    margin-bottom: 1rem;
    animation: neon-flicker 2s infinite alternate, color-cycle 5s infinite;
}

.key {
    margin-top: 3%;
    color: antiquewhite;
    font-weight: bold;
    font-size: 1.5rem;
}

.first {
    margin-top: 2.5%;
    color: #ff3434;
}

p {
    margin-top: 2.5%;
    color: #ff6f00;
    font-size: 1.3rem;
    font-weight: bold;
}

.highlight {
    color: rgb(232, 151, 51);
    font-size: 2rem;
    font-weight: bold;
}

.tech-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
}

.clg-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
}

/* Media queries for responsiveness */
/* Media queries for responsiveness */
@media screen and (max-width: 1440px) {
    h1 {
        font-size: 4rem;
        margin-top: 50%;
        /* Adjusted margin-top for centralization */
    }

    .key,
    .first,
    p,
    .highlight {
        font-size: 2.5rem;
        margin-top: 2%;
        /* Adjusted margin-top for proper spacing */
    }

    .tech-font,
    .clg-font {
        font-size:2.5rem;
    }
}

@keyframes color-cycle {
    0% {
        color: rgb(255, 0, 0);
    }

    25% {
        color: rgb(255, 165, 0);
    }

    50% {
        color: rgb(255, 255, 0);
    }

    75% {
        color: rgb(0, 128, 0);
    }

    100% {
        color: rgb(0, 0, 255);
    }
}

@keyframes neon-flicker {
    0% {
        text-shadow: 0 0 20px var(--shadow-color);
    }

    50% {
        text-shadow: 0 0 20px var(--shadow-color), 0 0 30px var(--shadow-color),
            0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color);
    }

    100% {
        text-shadow: 0 0 20px var(--shadow-color);
    }
}